@use "styles/mixins" as helpers;

@include helpers.new-custom-decomp-color("brand",true,hsl(46, 100%, 51%));

:root,
[color-scheme="dark"] {

  --accent-color: hsl(
      var(--brand--hue),
      calc(var(--brand--saturation) / 2),
      calc(var(--brand--lightness) / 1.1)
  );

  --accent-color-light: hsl(
      var(--brand--hue),
      calc(var(--brand--saturation) / 2),
      calc(var(--brand--lightness) / 1)
  );;

}

:root{
  --link-color: scale-color();

  --text: white;
  --heading-text: var(--accent-color);
  --link: var(--accent-color-light);

  --bg: black;
}
