


h1, h2, h3, h4, h5, h6, dt {
  page-break-after: avoid;
  page-break-inside: avoid;
  font: 100% sans-serif;
  hyphens: manual;
}

h1, h2, h3{
  overflow-wrap: break-word;

  margin-top: 3rem;
  color: var(--heading-text);
}

h1{
  font-weight: bold;
  margin: 0 0 .1em;
  font-size: 220%;
}

h2 {
  font-size: 140%;
}

h3{
  font-size: 120%;
}

h4{
  font-weight: bold;
}

h5{
  font-style: italic;
}

.heading{

  position: relative;

  & > a{
    position: absolute;

    top: 0;
    left: -1rem;
    font-size: 83%;

    transition: opacity .2s;
    opacity: .5;

    color: var(--accent-color-light);

    &:hover{
      opacity: 1;
    }

    &:after{
      content: '§';
    }

  }

}
