    <div class="row-fluid navmargin">
        <div class="page-header">
            <h1><%- meta.title %> - Mon, Dec 6, 2021</h1>
        </div>

        <p class="lead"><%- meta.lead%></p>

        <%- content %>

        <h4><a href="https://blog.gemwire.uk">Back to Home</a></h4>
    </div>

